---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
  filename: "../../packages/slidev-theme-catppuccin-{{ flavor.identifier }}/styles/common.css"
---
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap-style: balance;
}
