
:root {
  /*
    default theme color
    can be overrided by uses `themeConfig` option
   */

  --background: hsl(220, 0.23076923191547394, 0.9490196108818054);
  --current-line: hsl(223, 0.15909090638160706, 0.8274509906768799);
  --foreground: hsl(234, 0.16022099554538727, 0.3549019694328308);
  --comment: hsl(232, 0.09623430669307709, 0.5313725471496582);
  --cyan: hsl(197, 0.9656652212142944, 0.45686274766921997);
  --green: hsl(109, 58%, 40%);
  --orange: hsl(22, 0.9918367266654968, 0.5196078419685364);
  --pink: hsl(316, 0.7341772317886353, 0.6901960968971252);
  --purple: hsl(266, 0.8504672646522522, 0.5803921818733215);
  --red: hsl(347, 0.8666666746139526, 0.44117647409439087);
  --yellow: hsl(35, 0.7698412537574768, 0.4941176474094391);
}

/* #app increases the specificity of .dark selector from upstream layout styles  */
#app {
  #slide-content {
    --at-apply: text-$foreground bg-$background !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      --at-apply: text-$purple;
    }

    strong {
      --at-apply: text-$orange;
    }

    em {
      --at-apply: text-$yellow;
    }

    a {
      --at-apply: text-$cyan;
    }

    ul,
    ol {
      li::marker {
        --at-apply: text-$cyan;
      }
    }

    blockquote {
      --at-apply: bg-transparent text-$yellow border-none;

      /* "font-italic" isn't working */
      font-style: italic;
    }

    kbd {
      --at-apply: text-$green;
    }

    /* Update background color of code. We made it darker so we don't get same color for slide bg & code bg. */
    .slidev-code.shiki {
      background: hsl(220, 0.2195121943950653, 0.9196078181266785) !important;
    }

    :not(pre) > code {
      --at-apply: bg-transparent text-$green;
    }
  }

  /* Layout: Cover, Intro */
  .slidev-layout.cover,
  .slidev-layout.intro {
    --at-apply: h-full grid;

    h1 {
      --at-apply: text-6xl leading-20 text-$purple;
    }

    h1 + p {
      --at-apply: -mt-2 text-$comment mb-4;
    }

    p + h2,
    ul + h2,
    table + h2 {
      --at-apply: mt-10;
    }
  }

  /* Layout: Face */
  .slidev-layout.fact {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-8xl font-700;
    }

    h1 + p {
      --at-apply: font-700 text-2xl;
    }
  }

  /* Layout: Statement */
  .slidev-layout.statement {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-6xl font-700;
    }
  }

  /* Layout: Section */
  .slidev-layout.section {
    h1 {
      --at-apply: text-6xl font-500 leading-20;
    }
  }

  /* Layout: Face */
  .slidev-layout.fact {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-8xl font-700;
    }

    h1 + p {
      --at-apply: font-700 text-2xl;
    }
  }

  /* Layout: Quote */
  .slidev-layout.quote {
    --at-apply: grid h-full;

    h1 + p {
      --at-apply: mt-2;
    }
  }

  /* Layout: Author */
  .slidev-layout.author {
    img {
      --at-apply: rounded-full mx-auto;
    }

    h1 {
      --at-apply: text-3xl font-600 mb-0 next-[p]-mt-2;
    }

    h1 + p {
      --at-apply: max-w-40ch mx-auto;
    }

    footer {
      --at-apply: pt-16 text-sm flex justify-center items-center;

      a {
        --at-apply: ms-2 me-6;
      }

      a:not(:hover) {
        color: inherit !important;
      }
    }
  }
}
