
:root {
  /*
    default theme color
    can be overrided by uses `themeConfig` option
   */

  --background: hsl(232, 0.23404255509376526, 0.18431372940540314);
  --current-line: hsl(230, 0.18796992301940918, 0.2607843279838562);
  --foreground: hsl(227, 0.682539701461792, 0.8764705657958984);
  --comment: hsl(228, 0.20000000298023224, 0.6470588445663452);
  --cyan: hsl(189, 0.5942028760910034, 0.729411780834198);
  --green: hsl(105, 48%, 72%);
  --orange: hsl(21, 0.8550724387168884, 0.729411780834198);
  --pink: hsl(316, 0.7368420958518982, 0.8509804010391235);
  --purple: hsl(267, 0.8269230723381042, 0.7960784435272217);
  --red: hsl(351, 0.739130437374115, 0.729411780834198);
  --yellow: hsl(40, 0.6991150379180908, 0.7784313559532166);
}

/* #app increases the specificity of .dark selector from upstream layout styles  */
#app {
  #slide-content {
    --at-apply: text-$foreground bg-$background !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      --at-apply: text-$purple;
    }

    strong {
      --at-apply: text-$orange;
    }

    em {
      --at-apply: text-$yellow;
    }

    a {
      --at-apply: text-$cyan;
    }

    ul,
    ol {
      li::marker {
        --at-apply: text-$cyan;
      }
    }

    blockquote {
      --at-apply: bg-transparent text-$yellow border-none;

      /* "font-italic" isn't working */
      font-style: italic;
    }

    kbd {
      --at-apply: text-$green;
    }

    /* Update background color of code. We made it darker so we don't get same color for slide bg & code bg. */
    .slidev-code.shiki {
      background: hsl(233, 0.23076923191547394, 0.15294118225574493) !important;
    }

    :not(pre) > code {
      --at-apply: bg-transparent text-$green;
    }
  }

  /* Layout: Cover, Intro */
  .slidev-layout.cover,
  .slidev-layout.intro {
    --at-apply: h-full grid;

    h1 {
      --at-apply: text-6xl leading-20 text-$purple;
    }

    h1 + p {
      --at-apply: -mt-2 text-$comment mb-4;
    }

    p + h2,
    ul + h2,
    table + h2 {
      --at-apply: mt-10;
    }
  }

  /* Layout: Face */
  .slidev-layout.fact {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-8xl font-700;
    }

    h1 + p {
      --at-apply: font-700 text-2xl;
    }
  }

  /* Layout: Statement */
  .slidev-layout.statement {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-6xl font-700;
    }
  }

  /* Layout: Section */
  .slidev-layout.section {
    h1 {
      --at-apply: text-6xl font-500 leading-20;
    }
  }

  /* Layout: Face */
  .slidev-layout.fact {
    --at-apply: text-center grid h-full;

    h1 {
      --at-apply: text-8xl font-700;
    }

    h1 + p {
      --at-apply: font-700 text-2xl;
    }
  }

  /* Layout: Quote */
  .slidev-layout.quote {
    --at-apply: grid h-full;

    h1 + p {
      --at-apply: mt-2;
    }
  }

  /* Layout: Author */
  .slidev-layout.author {
    img {
      --at-apply: rounded-full mx-auto;
    }

    h1 {
      --at-apply: text-3xl font-600 mb-0 next-[p]-mt-2;
    }

    h1 + p {
      --at-apply: max-w-40ch mx-auto;
    }

    footer {
      --at-apply: pt-16 text-sm flex justify-center items-center;

      a {
        --at-apply: ms-2 me-6;
      }

      a:not(:hover) {
        color: inherit !important;
      }
    }
  }
}
