---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
  filename: "../../packages/slidev-theme-catppuccin-{{ flavor.identifier }}/setup/shiki.ts"
---
import { defineShikiSetup } from "@slidev/types";

export default defineShikiSetup(() => ({
	theme: {
		dark: "catppuccin-{{ flavor.identifier }}",
		light: "catppuccin-{{ flavor.identifier }}",
	},
}));
