---
whiskers:
  version: 2.5.1
  matrix:
    - flavor
  filename: "../../packages/slidev-theme-catppuccin-{{ flavor.identifier }}/setup/windicss.ts"
---
import { resolve } from "path";
import { defineWindiSetup } from "@slidev/types";

export default defineWindiSetup(() => ({
	extract: {
		include: [resolve(__dirname, "../**/*.{vue,ts}")],
	},
	shortcuts: {
		// custom the default background
		"bg-main": "bg-[#{{ flavor.colors.base.hex }}] text-[#flavor.colors.text.hex]",
	},
}));
